<form method="POST" action="">
  <fieldset class="session-fieldset">
    <label class="username-label" for="username">
      Username or Email
    </label>
    <input type="text" name="username" placeholder="Username or Email">
    <label class="password-label" for="password">
      Password
    </label>
    <input type="text" name="password" placeholder="Password">
  </fieldset>

  <button class="submit-button" name="submit">
    <span class="submit-text">Submit</span>
  </button>

  <a href="/">Go back</a>
</form>