<form method="POST" action="">
  <fieldset class="name-fieldset">
    <label class="first-name-label" for="first-name">
      First Name
    </label>
    <input type="text" name="first-name" placeholder="First Name">
    <label class="last-name-label" for="last-name">
      Last Name
    </label>
    <input type="text" name="last-name" placeholder="Last Name">
  </fieldset>

  <fieldset class="user-fieldset">
    <label class="email-label" for="email">
      Email
    </label>
    <input type="email" name="email" placeholder="Email">
    <label class="password-label" for="password">
      Password
    </label>
    <input type="password" name="password" placeholder="Password">
    <label class="confirm-password-label" for="confirm-password">
      Confirm Password
    </label>
    <input type="password" name="confirm-password" placeholder="Confirm Password">
  </fieldset>

  <button class="submit-button" name="submit">
    <span class="submit-text">Submit</span>
  </button>

  <a href="/">Go back</a>
</form>