extends layout

block content
  h1= title
  p Welcome to #[em Vinyl Inventory]

  h3 Dynamic content

  if error
    p Error getting dynamic content.
  else
    h4 The inventory has the following record counts:

    ul
      li #[strong Albums:] !{data.albumCount}
      li #[strong Artists:] !{data.artistCount}
      li #[strong Genres:] !{data.genreCount}