<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <section>
    <h1>List of Messages</h1>
    <ul>
      <% if (messages) { %>
      <% messages.forEach(function(message){ %>
      <li><a href='#'></a><%= message.title %></li>
      <% }); %>
      <% } %>
    </ul>
  </section>
</body>

</html>