* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-flow: column nowrap;
  min-width: 600px;
  background-color: white;
}

.header {
  flex-shrink: 0;
  align-self: center;
}

.main {
  align-self: center; 
}
