<h1 class="title">New message</h1>

<form method="POST" action="/new">
  <fieldset class="author-fieldset">
    <label class="author-label" for="author">
      Author
    </label>
    <input type="author" name="author">
  </fieldset>

  <fieldset class="message-fieldset">
    <label class="message-label" for="message">
      Message
    </label>
    <input type="message" name="message">
  </fieldset>

  <button class="submit-button" name="submit">
    <span class="submit-text">Submit</span>
  </button>

  <a href="/">Go back</a>
</form>